body{
  margin : 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  background-color: #E9EFC0;

  color: #40514E;


}
.top-container{
  background-color: #E9EFC0;
  position: relative;
  padding-top: 100px;


}
h1{
  color: #66BFBF;
  font-size: 5.625rem;
  margin-top: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;

}
h2{
  color:#66BFBF;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: normal;



}
h3{
  font-family: 'Montserrat', sans-serif;

}

.bottom-container{
  background-color: #66BFBF;
  padding: 60px 0 20px;

}
.middle-container{
  margin: 100px 0;

}
.bottom-cloud{
  position:absolute;
  left: 300px;
  bottom: 250px;


}
.top-cloud{
  position: absolute;
  right: 300px;
  top: 40px;

}
.skill-row{
  width: 50%;
  margin:100px auto 100px auto;
  text-align: left;
  line-height: 2;
}
.image-1{
      width: 30%;
  float: left;
  margin-right: 35px;

}
.image-2{
  width: 30%;

  float: right;
  margin-right: 30px;

}
.Profile{

  height: 200px;
  width: 300;
  border-radius: 50%;
}
.intro{
  width: 30%;
  margin:auto;
}
p{
  line-height: 2;
}
hr{
  border:dotted #EAF6F6 6px;
  border-bottom: none;
  width: 8%;
  margin: 100px auto;
}
.contact{
  width: 40%;
  margin:40px auto 60px;
}
.btn {
  background: #11CDD4;
  background-image: -webkit-linear-gradient(top, #11CDD4, #1199E);
  background-image: -moz-linear-gradient(top, #11CDD4, #1199E);
  background-image: -ms-linear-gradient(top, #11CDD4, #1199E);
  background-image: -o-linear-gradient(top, #11CDD4, #1199E);
  background-image: linear-gradient(to bottom, #11CDD4, #1199E);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30E3CB;
  background-image: -webkit-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: -moz-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: -ms-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: -o-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: linear-gradient(to bottom, #30E3CB, #2BC4AD);
  text-decoration: none;
}
a{
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}
a:hover{
  color: #EAF6F6;
}
.copyright{
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0;
}
